html {
  font-family: Sniglet, cursive;
  font-family: "Caveat Brush", cursive;
}

.s {
  font-family: Sniglet, cursive;
}

.c {
  font-family: "Caveat Brush", cursive;
}

header {
  overflow: hidden;
}

.list1 {
  position: absolute;
  left: 10%;
  top: 0;
}

.list2 {
  position: absolute;
  left: 20%;
  top: 0;
}

.list3 {
  position: absolute;
  left: 30%;
  top: 0;
}

.list4 {
  position: absolute;
  right: 30%;
  top: 0;
}

.list5 {
  position: absolute;
  right: 20%;
  top: 0;
}

.list6 {
  position: absolute;
  right: 10%;
  top: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.w {
  color: #fff;
}

.o {
  background-color: #EB8A53;
  border: none;
}

span {
  color: #EB8A53;
}

ul,
li {
  overflow: hidden;
}

.btn a {
  color: #fff;
}

.nav {
  display: none;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-family: "Caveat Brush", cursive;
  background-color: rgba(54, 156, 160, .8);
  height: 100vh;
  margin: 0 auto;
}

.nav-check {
  position: absolute;
  top: -3em;
  background-color: #594139;
}

.nav-logo {
  z-index: 10;
}

.nav-check:checked ~ .nav {
  display: block;
}

[type="checkbox"] + label::before {
  display: none;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
}

.nav-label img {
  display: inline-block;
}

.nav li {
  display: inline-block;
  text-align: center;
  width: 50vw;
}

.visible {
  display: inline-block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

main {
  background-image: url("../images/bg.svg");
}

@media only screen and (min-width: 20em) {

  .banner-img {
    position: relative;
  }

  .banner-text {
    position: absolute;
    top: 4em;
    left: 2em;
  }

  .s-btn {
    position: absolute;
    top: 10.5rem;
    left: 4em;
  }

  .v {
    display: block;
  }

  .h {
    display: none;
  }

}

@media only screen and (min-width: 25em) {

  .banner-text {
    position: absolute;
    top: 6em;
    left: 2em;
  }

    .s-btn {
      position: absolute;
      top: 5rem;
      left: 1em;
    }

}

@media only screen and (min-width: 38em) {

  .nav-label img {
    display: none;
  }

  .visible {
    display: block;
  }

  .show {
    display: none;
  }

  .hide {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  .v {
    display: none;
  }

  .h {
    display: block;
  }

}
